<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:label="Record Repeat Bot"
        android:supportsRtl="true"
        android:icon="@drawable/robot_repeat_automation_icon"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">

        <activity
            android:name="com.recordrepeat.bot.MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <service
            android:name="com.recordrepeat.bot.AutomationAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">

            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

        </service>

    </application>

</manifest>
