<application

    android:label="Record Repeat Bot"
    android:icon="@drawable/robot_repeat_automation_icon"
    android:theme="@android:style/Theme.Material.Light.NoActionBar">


    <activity
        android:name=".MainActivity"
        android:exported="true">

        <intent-filter>

            <action android:name="android.intent.action.MAIN"/>

            <category android:name="android.intent.category.LAUNCHER"/>

        </intent-filter>

    </activity>



    <activity
        android:name=".SmartBuilderActivity"
        android:exported="false"/>



    <service
        android:name=".TouchRecorderService"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
        android:exported="true">

        <intent-filter>

            <action android:name="android.accessibilityservice.AccessibilityService"/>

        </intent-filter>


        <meta-data
            android:name="android.accessibilityservice"
            android:resource="@xml/accessibility_service_config"/>

    </service>



    <service
        android:name=".FloatingControlService"
        android:exported="false"/>


</application>
